syntax: glob
.gitignore~

src/*.dSYM
src/*.o
src/*.mod

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
install-sh
missing
src/Makefile
src/Makefile.in
src/dimensions.inc
src/largest.inc
src/sexpath.inc
src/xnirspec
src/zzz_memory_test
stamp-h1
